@import '../assets/scss/main';

.main {
    width: 100%;
    height: 100vh;
    padding: 10px;

    .container {
        width: 100%; 
        height: 90%;
        margin-left: -1.8vw;
        
        .carousel {
            width: 100vw;
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .carousel-item {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .general-content {
        width: 100vw;
        height: 50%;
        margin-top: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar {
        width: 220px;
        height: 100vh;
        background-color: rgb(202, 230, 241);
    }

    img {
        mix-blend-mode: multiply;
    }

    img {
        mix-blend-mode: multiply;
    }

    .content-right {
        width: calc(100% - 140px);
        height: 100vh;
        background-color: #ebebeb;

        .card {
            width: 18rem;
            margin: 1.5rem 2rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            
            .card-img-top {
                object-fit: cover;
                height: 200px;
                margin-top: 1rem;
            }

            .card-body {
                padding: 1.25rem;

                .card-title {
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                }

                .card-text {
                    font-size: 1rem;
                    color: #666;
                    margin-bottom: 0.25rem;;
                }

                .card-actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1rem;

                    .btn {
                        padding: 0.5rem 1rem;
                        border-radius: 4px;
                        border: none;
                        color: #fff;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                    }

                    .btn-update {
                        background-color: #8cadcf;
                    }

                    .btn-update:hover {
                        background-color: #5c8ca4;
                    }

                    .btn-status {
                        background-color: #8ccf92;
                    }

                    .btn-status:hover {
                        background-color: #5ca46a;
                    }

                    .btn-inactive {
                        background-color: #cf8c8c;
                    }

                    .btn-inactive:hover {
                        background-color: #a45c5c;
                    }

                    .btn-destroy {
                        background-color: #dd727d;
                    }

                    .btn-destroy:hover {
                        background-color: #9b4951;
                    }
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
    }
}