@import '../assets/scss/main';

.main {
    width: 100%;
    height: 100vh;
    padding: 10px;


    .container {
        width: 100%; 
        height: 90%;
        margin-left: -1.8vw;
        
        .carousel {
            width: 100vw;
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .carousel-item {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .hr-line {
            border: 1px solid #666666;
            margin-top: 1em;
            margin-bottom: 1em;
            width: 100vw;
        }

        .phrase-content {
            width: 100vw;
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10%;
            background-color: #e9e9e9;

            @media(max-width: 768px) {
                height: 60vh;
            }

            @media (max-width: 514px) {
                padding: 0 10px;
                height: auto;
            }

            .phrase {
                width: 100vw;
                height: 80%;
                margin-top: 10vh;
                padding: 0 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: #e9e9e9;
                color: #666666;
                font-size: 1.3rem;
            
                h2 {
                    text-transform: uppercase;
                }
            }
        }

        .contact-content {
            width: 100vw;
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10%;
            background-color: #e9e9e9;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            text-decoration: none;

            .contact {
                width: 100vw;
                height: 80%;
                margin-top: 10vh;
                padding: 0 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: #e9e9e9;
                color: #666666;
                font-size: 1.3rem;
            
                h2 {
                    text-transform: uppercase;
                }

                span {
                    font-size: 1.5rem;
                    font-weight: bold;
                    border: 1px solid #666666;
                    padding: 10px;
                    background-color: #e9e9e9;
                    color: #666666;
                }
            }
        }

        .contact-content:hover {
            opacity: 0.7;
        }

        .strip-content {
            width: 100vw;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // background-color: #e6e6e6;   

            .category-container {
                height: 100%;
                text-align: center;
                width: 100%;

                @media (max-width: 768px) {
                    height: auto;
                }

                @media (max-width: 514px) {
                    padding: 0 10px;
                }
                
                h2 {
                    text-transform: uppercase;
                    font-size: 30px;
                    margin-top: 1em;
                }
                
                .cards-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 85%;
                    margin-bottom: 2em;

                    @media (max-width: 768px) {
                        height: auto;
                        flex-direction: column;
                    }

                    @media (max-width: 514px) {
                        margin: 10px;
                    }
                }
            }
        }

        .collection-content {
            width: 100vw;
            height: 35vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e9e9e9;

            .collection {
                width: 100vw;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #e9e9e9;
                margin-top: 1.5em;

                @media(max-width: 768px) {
                    top: 0;
                    margin-top: 20px;
                }
            
                h2 {
                    text-transform: uppercase;
                }
            
                .collection-container {
                    width: 80%;
                    height: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #666666;
            
                    .collection-item {
                        width: 100%;
                        height: 100%;
                        margin: 0 10px;
                        transform: scale(0.8);
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;

                        @media (max-width: 768px) {
                            width: 40%;
                        }

                        @media (max-width: 514px) {
                            width: 40px;
                            height: 40px;
                        }

                        a {
                            text-decoration: none;
                            color: #666666;
                            
                            img {
                                width: 100%;
                                height: 100%;
                                margin: 0 10px;
                                border-radius: 50%;
                                border: 1px solid #666666;
                                transform: scale(0.8);
                                transition: all 0.3s ease-in-out;
                                cursor: pointer;
        
                                @media (max-width: 768px) {
                                    width: 20%;
                                }
        
                                @media (max-width: 514px) {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                    
                            img:hover {
                                transform: scale(1);
                                border: 1px solid #000000;
                            }
    
                            h3 {
                                font-size: 1.5rem;
                                font-weight: bold;
                                margin-top: 10px;
                                margin-left: 20px;
                            }
                        }

                    }
                }
            }
        }

        .owl-content {
            width: 100vw;
            
            .owl-carousel {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 1em;

                @media(max-width: 768px) {
                    top: 0;
                    margin-top: 20px;
                }
            
                h2 {
                    text-transform: uppercase;
                }
            
                .owl-carousel-container {
                    width: 80%;
                    height: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #666666;
            
                    img {
                        width: 10%;
                        height: 90%;
                        margin: 0 10px;
                        border-radius: 50%;
                        border: 1px solid #666666;
                        transform: scale(0.8);
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;

                        @media (max-width: 768px) {
                            width: 20%;
                        }

                        @media (max-width: 514px) {
                            width: 40px;
                            height: 40px;
                        }
                    }
            
                    img:hover {
                        transform: scale(1);
                        border: 1px solid #000000;
                    }
                }
            }
        }
    }

    .sidebar {
        width: 220px;
        height: 100vh;
        background-color: rgb(202, 230, 241);
    }

    img {
        mix-blend-mode: multiply;
    }

    img {
        mix-blend-mode: multiply;
    }

    .content-right {
        width: calc(100% - 140px);
        height: 100vh;
        background-color: #ebebeb;

        .card {
            width: 18rem;
            margin: 1.5rem 2rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            
            .card-img-top {
                object-fit: cover;
                height: 200px;
                margin-top: 1rem;
            }

            .card-body {
                padding: 1.25rem;

                .card-title {
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                }

                .card-text {
                    font-size: 1rem;
                    color: #666;
                    margin-bottom: 0.25rem;;
                }

                .card-actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1rem;

                    .btn {
                        padding: 0.5rem 1rem;
                        border-radius: 4px;
                        border: none;
                        color: #fff;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                    }

                    .btn-update {
                        background-color: #8cadcf;
                    }

                    .btn-update:hover {
                        background-color: #5c8ca4;
                    }

                    .btn-status {
                        background-color: #8ccf92;
                    }

                    .btn-status:hover {
                        background-color: #5ca46a;
                    }

                    .btn-inactive {
                        background-color: #cf8c8c;
                    }

                    .btn-inactive:hover {
                        background-color: #a45c5c;
                    }

                    .btn-destroy {
                        background-color: #dd727d;
                    }

                    .btn-destroy:hover {
                        background-color: #9b4951;
                    }
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
    }
}