@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.main {
    display: flex;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.content-pages {
    padding: 15px;
    min-height: 700px;
    // background-color: #f5f5f5;
    // background-color: #ebebeb;
    // background-color: #e5e5e5;
    background-color: #ff0;

    .title-pages {
        p {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0;
        }

        span {
            font-size: 14px;
            font-weight: 400;
            color: #999;
        }   
    }
}